.mixin-moon-item-icon-tap-area-adjust {
	&.small > .small-icon-tap-area {
		left: -@moon-spotlight-outset;
		right: -@moon-spotlight-outset;
	}
}

.mixin-full-screen-video-player {
	position: static !important;
	display: block !important;
	margin: 0;

	.moon-video-player-video {
		position: static;
	}
}

.mixin-hide-full-screen-ancestor {
	position: absolute !important;
	overflow: visible !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.mixin-input-placeholder(@rule) {
	&::-webkit-input-placeholder {
		@rule();
	}
	&::-moz-placeholder {
		@rule();
	}
}